<!doctype html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <script defer src="js/vue.js"></script>
   <script defer src="js/main.js"></script>
   <link rel="stylesheet" href="css/main.css">
   <title>vue</title>
</head>
<body>
    <div id="app">
        <h1>{{ product }}</h1>
        <p>{{ description }}</p>
        <a href="https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=socks">{{ link }}</a>

        <div class="product">
            
            <div class="product-image">
                <img v-bind:src="image" v-bind:alt="altText" />
            </div>
            
            <div class="product-info">
                <h1>{{ brand + ' ' + product }}</h1>
                <p v-if="inventory > 50">In stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
                <p :class="{ outOfStock: !inStock }" v-else> Out of stock </p>

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                 </ul>
                 
                 <div
                 class="color-box" 
                 v-for="(variant, index) in variants" 
                 :key="variant.variantId" 
                 :style="{ backgroundColor:variant.variantColor }" 
                 @mouseover="updateProduct(index)"
                ></div>
                 
                 <ul>
                    <li v-for="size in sizes">{{ size }}</li>
                 </ul>
                 
                 <div class="cart">
                    <p>Cart({{ cart }})</p>
                 </div>                 
                 <button v-on:click="cart += 1" :disabled="!inStock" :class="{ disabledButton: !inStock }"> Add to cart </button>
                 
            </div>
            
        </div>
    </div>
</html>